/**
 * BEKK Consulting AS theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #1b1b1b;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #fd5157;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: Georgia, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: 0em;
$headingTextTransform: none;
$selectionBackgroundColor: #fd5157;
$mainFontSize: 30px;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Logo in bottom left corner.
body:before {
  position: absolute;
  content: "";
  display: block;
  background: url('http://open.bekk.no/Content/Images/BEKK_logo.svgz') left top no-repeat;
  width: 120px;
  height: 25px;
  bottom: 30px;
  left: 20px;
  background-size: 120px 25px;
  z-index: 9999;
}

.reveal code {
  border-radius: 2px;
  padding: 0px 5px;
}

.reveal pre {
  text-align: center;
  font-size: 1em;
  box-shadow: none;
  width: auto;
}

.reveal pre code {
  text-align: left;
  padding: 0 35px;
  max-height: none;
}

.reveal ul li {
  margin-bottom: 20px;
}

.reveal ul {
  padding: 0 20px;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

figcaption.quote-source {
  margin-top: 0.7em;
  font-style: italic;
}